exportPattern("^[[:alpha:]]+")
#importMethodsFrom(IRanges,unlist)
import(GenomicFeatures)
import(parallel)
import(BiocGenerics)
import(IRanges)
import(GenomicRanges)
import(Rsamtools)
import(rtracklayer)
import(edgeR)
#import(ReportingTools)
import(XML)
